<div class="container">
  <div class="c">
    <h1><i class="bi bi-arrow-left-square-fill" routerLink="/home" style="float: left; margin-left: 0%;"></i></h1>
  </div>
  <div class="a">
    <h3>24*7 Call center assistance</h3>
    <p>Dedicated 24*7 Call center for your trip assistance</p>
  </div>
  <div class="b">
    <img src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?w=2000"
      style="width: 600px; height: 570px;">
  </div>
</div>
<h3 style="margin-left: 5%; margin-top: 13%;">Why Revv??</h3>
<div class="z">
  <div class="card" style="width: 18rem; margin-top: 1%; margin-left: 3%;">
    <div class="card-body">
      <h5 class="card-title">Home delivery and return</h5>
      <p class="card-text">On-time doorstep service, at your preferred location and time</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 1%; margin-left: 2%;">
    <div class="card-body">
      <h5 class="card-title">Flexible pricing plans</h5>
      <p class="card-text">Choose 'Unlimited kms' or 'with fuel' plans</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 1%; margin-left: 2%;">
    <div class="card-body">
      <h5 class="card-title">Well maintained cars</h5>
      <p class="card-text">Regular service and maintenance; Inspected before each trip</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 1%; margin-left: 2%;">
    <div class="card-body">
      <h5 class="card-title">Best price gurantee</h5>
      <p class="card-text">We gurantee the lowest prices on self-drive car rentals</p>
    </div>
  </div>
</div>
<h3 style="margin-left: 5%; margin-top:2%; margin-bottom: 2%;">Our journey so far </h3>
<img src="assets/images/rev.png" alt="">
<h3 style="margin-left: 5%; margin-top:2%; margin-bottom: 2%;">Our inverstors</h3>
<img src="assets/images/inv.png" alt="">