<h2> Fleet  Vehicals  Policies</h2>
<ul style="padding: 30px;" class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex3-tab-1" data-bs-toggle="tab" href="#ex3-tabs-1" role="tab"
            aria-controls="ex3-tabs-1" aria-selected="true"
            style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Guest-Fee Policy</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex3-tab-2" data-bs-toggle="tab" href="#ex3-tabs-2" role="tab" aria-controls="ex3-tabs-2"
            aria-selected="false" style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Platform Terms
            of Use</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex3-tab-3" data-bs-toggle="tab" href="#ex3-tabs-3" role="tab" aria-controls="ex3-tabs-3"
            aria-selected="false" style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Privacy
            Policy</a>
    </li>
</ul>

<div class="tab-content" id="ex2-content">
    <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Security Deposit / Lease Rental Fee</th>
                        <th scope="col">For each booking made through the Zoomcar Platform, the Guest shall have to pay
                            Lease Rental in
                            advance which shall include
                            Rental fee calculated basis the start and the end time of the trip. The Lease Rental fee per
                            hour changes dynamically based on the demand, lead time to booking start, location of the
                            booking, vehicle chosen and the duration of the booking</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Refunds,Charges and Payments</td>
                        <td>All refunds shall be initiated to the original payment account/ mode. All refund initiation
                            shall be processed immediately after the cancellation request is received. However, all such
                            refunds may take 5-15 days to reflect in Guest’s accounts.

                            Payments owed by Guests under this Fee Policy or other applicable policies will be deducted
                            from the security deposit, if any deposited with Zoomcar. If the security deposit does not
                            cover such payments, the balance must be paid by the Guest electronically within 24 hours of
                            the booking end time, as per Zoomcar’s payment instructions.

                            The Guest shall ensure that the account from which the amounts are to be collected have
                            sufficient funds or credit available to cover any charges and/or amount payable to Zoomcar.
                            Guests are solely responsible for any associated bank or credit card charges or fees. Guests
                            may be charged a processing fee for a declined credit or debit card payment.

                            In the event the Guest defaults on any payments, Zoomcar is entitled to charge reminder fees
                            and default interest in accordance with the provisions of the law. In addition, Zoomcar may
                            designate third parties to collect amounts owed to Zoomcar by a Guest.

                            Zoomcar reserves the right to prohibit a Guest from making a subsequent booking on the
                            Platform until all outstanding fees in the Guest's account have been paid in full. In the
                            event a fee is incurred, the Guest will receive an email invoice from Zoomcar that will have
                            detailed payment instructions.

                            The Guest should not make any direct payments to the Host or to any Zoomcar executive in any
                            mode.</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <h5 style="font-weight: lighter; font-style: italic;margin-left: 20px;">Here is a comprehensive list of fees and
            penalties for certain scenarios after you have created your booking / reservation:</h5>
        <div class="table">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Cancellation</td>
                        <td><span style="font-weight: bold;">Cancellation made between 0-6 hrs before booking start time
                                -</span><br>
                            100% of the Lease rental paid in advance shall be deducted.<br><br>

                            <span style="font-weight: bold;">Cancellation made between 6-24 hrs before booking start
                                time -</span><br>
                            Flat cancellation fee of 50% of the Lease Rental paid in advance. Refund of the remaining
                            portion of Lease Rental after deduction of Platform Fee.<br>
                            <br>
                            <span style="font-weight: bold;">Cancellation made after booking start time - No refund of
                                Lease Rental paid in advance.</span><br>
                            Notwithstanding anything contrary stated herein, Zoomcar reserves the right to withhold any
                            refunds due to cancellations, if Zoomcar, at its sole discretion, perceives any credit card
                            frauds by a user or where cancellations are made by a user with an intention to defraud
                            Zoomcar.
                            <br><br>
                            In case of continuous multiple cancellations, 50% of the lease rental paid in advance shall
                            be deducted
                        </td>
                    </tr>
                    <tr>
                        <td>Reschedule before start</td>
                        <td>No modification is allowed to the schedule booking between 0- 4 hours before booking start
                            time.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2" style="padding: 40px;">
        This document is a legally binding document which will be effective upon your acceptance of the same (directly
        or indirectly in electronic form or by means of an electronic record) and will form part of the Governing
        Policies for availing the services offered through the website and www.zoomcar.com/zap/subscribe/host
        www.zoomcar.com/zap/subscribe/host mobile application under the name and style of <span
            style="font-weight: bold;"> “Zoomcar” (“Platform”)</span>.
        <br><br>
        <h5 style="color: green; font-weight: bold;">Background</h5>
        <br><br>
        The Platform is owned by Zoomcar India Private Limited, a company incorporated under the<br><br>

        Companies Act,1956 having its registered office at having its registered office at No.147, 1st Floor, Anjaneya
        Techno Park, HAL Old Airport Road, ISRO Colony, Kodihalli, Bangalore, Karnataka-560008(hereinafter referred to
        as <span style="font-weight: bold;"> "Zoomcar or “we” or “us” or “our” </span>, which expression unless the
        context may otherwise require to include its successors, liquidators and assigns) and the guest users or the
        registered users of the Platform, who is a natural or a legal person (hereinafter referred to as <span style="font-weight: bold;"> “User”” or
        “you”” or “your” or “yourself” </span>).
        <br><br>
        Through this Platform, Zoomcar enables and facilitates the Users to list and lease vehicles directly with one
        another as per the terms and conditions of this document and other policies on the Platform, to the extent
        applicable. Zoomcar does not sell, hire, manage, and/or control the vehicle.
        <br><br>
        All of the provisions in these Terms of Use, together with Zoomcar Host Services Terms & Conditions – Host &
        Lessee (available here), Privacy Policy (available here), and any other incorporated policies / agreements
        constitute the terms of the agreement between you and Zoomcar for the use of the Platform and services offered
        by Zoomcar thereon (together, the <span style="font-weight: bold;"> “Governing Policies” </span>).
    </div>
    <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
       <div style="color: green; font-weight: bold; padding: 40px;"> Last updated May 23, 2023<br><br>

        Privacy Policy
        </div>
        <hr class="hr hr-blurry" />
        
<div style="font-weight: lighter; padding: 40px;">THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000. THIS PRIVACY POLICY DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.

<br><br>
THE TERMS "WE/US/OUR/ZOOMCAR" INDIVIDUALLY AND COLLECTIVELY REFER TO ZOOMCAR INDIA PRIVATE LIMITED AND THE TERMS "YOU/YOUR/YOURSELF" REFER TO THE USERS/MEMBERS UNDER MEMBERHSIP AGREEMENT.
<br><br>
THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND ZOOMCAR (BOTH TERMS DEFINED ABOVE).
<br><br>
THIS DOCUMENT IS PUBLISHED AND SHALL BE CONSTRUED IN ACCORDANCE WITH THE PROVISIONS OF THE INFORMATION TECHNOLOGY (REASONABLE SECURITY PRACTICES AND PROCEDURES AND SENSITIVE PERSONAL DATA OF INFORMATION) RULES, 2011 UNDER INFORMATION TECHNOLOGY ACT, 2000; THAT REQUIRE PUBLISHING OF THE PRIVACY POLICY FOR COLLECTION, USE, STORAGE AND TRANSFER OF SENSITIVE PERSONAL DATA OR INFORMATION.
<br><br>
PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE WEBSITE, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS WEBSITE. YOU HEREBY PROVIDE YOUR UNCONDITIONAL & IRREVOCALBLE CONSENT TO ZOOMCAR FOR THE PURPOSES PRESCRIBED UNDER INCLUDING BUT NOT LIMITED TO PROVISIONS OF SECTIONS 43A, 72 AND SECTION 72A OF INFORMATION TECHNOLOGY ACT, 2000.
<br><br>
This Privacy Policy (the “Policy”) sets out how ZOOMCAR collects, uses, protects & shares any information that you give to us, when you use this website i.e. www.zoomcar.com including its m-application (the “Website”). ZOOMCAR is committed to ensure that your privacy is protected to all possible, reasonable and commercial extent, as your privacy on the Internet is of the utmost importance to us. Because we gather certain types of information about You in order to provide, protect, maintain and improve our services, We feel You should fully understand the Policy surrounding the capture and use of that information and solicit Your full attention towards it.
<br><br>
By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by ZOOMCAR, as specified under this Policy. You further represent and warrant that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
<br><br>
This Policy is a legally binding contract between You and ZOOMCAR, whose Website, You use or access or You otherwise deal with. This Policy shall be read together with the other terms and condition of the Website viz, Membership Agreement and Fees Policy being displayed on the website
www.zoomcar.com.
</div>
        
    </div>
</div>

<section class="text-center">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
        <i class="fas fa-cubes fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">5000+</h5>
        <h6 class="fw-normal mb-0">Components</h6>
        <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
        <i class="fas fa-layer-group fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">490+</h5>
        <h6 class="fw-normal mb-0">Design blocks</h6>
        <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
        <i class="fas fa-image fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">100+</h5>
        <h6 class="fw-normal mb-0">Templates</h6>
        <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
        <i class="fas fa-plug fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">28</h5>
        <h6 class="fw-normal mb-0">Plugins</h6>
      </div>
    </div>
  </section>